.contact {
    overflow: hidden;
    margin-bottom: 100px;
}
.contact-w {
    width: 1000px;
    margin: 0 auto;
}
.contact h2 {
    font: 400 40px 'Josefin Sans', sans-serif;
    margin-bottom: 40px;
    letter-spacing: .1em;
}
.contact p {
    font: 400 20px 'Josefin Sans', sans-serif;
    margin-bottom: 80px;
    letter-spacing: .1em;
}
.contact h3 {
    font: 700 20px 'Josefin Sans', sans-serif;
    margin-bottom: 50px;
    letter-spacing: .1em;
}
.contact label {
    font: 400 20px 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
}
.contact .input {
    display: block;
    border: rgb(175, 175, 175) 1px solid;
    width: 400px;
    height: 30px;
    margin-bottom: 20px;
}
.contact .area {
    height: 80px;
}
.contact .submit {
    width: 150px;
    height: 50px;
    border: black 2px solid;
    font: 700 15px 'Josefin Sans', sans-serif;
}
.input:focus {  
}
.contact .submit:hover {
    background-color: rgb(35, 255, 71);
    color: white;
    cursor: pointer;
}